header{
    background: linear-gradient(
        to left,
        red,
        orange
    );
     list-style: none;
    display: flex;
    align-items: center;
}
ul{
     list-style: none;
    display: flex;
}

ul li{
    list-style: none;
    display: flex;
    margin: 20px;
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:large ;
}
ul li:hover{
    color: blue;
    font-size: xx-large;
    cursor:default
    }
 
footer{
    background: linear-gradient(
        to right,
        rgb(0, 140, 255),rgb(255, 0, 242),rgb(220,50,42)
    )
}
.imagenfondo{
    background-image: url(comida.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 550px;
justify-content: center;
align-items: center;
text-align: center;
display: flex;

}   
.fondooscuro{

background:rgba(106, 106, 106, 0.596);
padding: 70px; ;
width:50% ;
border-radius: 25px; 
}
h2{
    color: bisque;
    font-size: large;
}
.boton
{color: rgb(1, 7, 26);
background-color: rgb(80, 8, 247);
padding: 15px 90px;
font-size: medium;
border-radius: 30px;
}
.boton:hover{
    color: aqua;
    transform: scale(1.5);
    cursor: pointer;
    font-weight: bold;
}